*{
    margin: 0;
    padding: 0;
}

.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 40s slide infinite;
}

.slide{
    position: relative;
    display: flex;
    justify-content: center;
    width: 25%; /* width dibagi slide */
    float: left;
    text-align: center;
}

.slide h1{
    position: absolute;
    display: table-cell;
    top: 20%;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: var(--variable-color3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide p {
    font-size: 1em;
    width: 450px;
    height: 400px;
    margin: 0;
    position: absolute;
    padding: 3rem;
    top: 25%;
    color: var(--variable-color3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

.slide img{
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
    object-position: center;
    
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}