* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CARDS DOBLE CARA */

 .container3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
} 
.card1 {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 0;
    margin-bottom: 10px;
}

.card1 .face  {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card1 .front   {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5 px 10px black;
}

.card1 .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 .front h4{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,.4);
    text-align: center;

}

.card1 .back    {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(53, 108, 139);
    padding: 15px;
    color: #b1d4e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.card1 .back .link  {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a    {
    color: #f3f3f3;
}

.card1 .back h4 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}