.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 30px 15px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 1);
}

.btn-green {
    color: rgb(253, 253, 253);
    background-color: rgb(4, 83, 107);
    margin: auto;
    width: 360px;
    height: 80px;
    padding: 20px;
}

.btn-green-2 {
    color: rgb(253, 253, 253);
    background-color: #135e91;
    width: 400px;
    height: 80px;
    border-radius: 50px 20px;

}

.btn-green-2:hover {
    background-color: #86827c;

}
.btn-green:hover {
    background-color: #e4e1dc;
}

.btn-green:active {
    background-color: #3b7b8f;
}

form {
    background-color: #f3efed;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #1f1b1b;
    box-decoration-break: inherit;
    font-size: 1em;
    font-style: unset;
    padding: 20px;
    width: 440px;

}

.dropdown-menu {
    min-width: 25rem;
    background-color: rgb(199, 195, 190);
    border-radius: 20px 50px;
    text-align: center;

}

input, textarea {
    border: 0;
    outline: none;
    width: 380px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;

}

.field {
    border: solid 1px #615e5e;
    padding: 10px;
    text-align: justify;
}

.field:focus {
    border-color: #2f70ad;
    box-shadow: 0 0 10px #16457a;
    align-content: center;

}

.center-content {
    text-align: center;
    align-content: center;
}

