
.gallery-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.gallery__item {
  position: relative;
}

.gallery__title {
  font-family: "Anton", sans-serif;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  color: rgb(252, 251, 251);
  background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.gallery__item:nth-child(4) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(6) {
  grid-column-start: span 2;
}

