
.container9 {
    display: flex;
    max-width: 100%;
    height: 60vh;
    margin-top: 80px;
    position: relative;
    background-image: url(/img/imgojos1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container9 .wrap {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.container9 .wrap .box {
    flex-basis: 100%;
    margin-left: 10%;
    color:white;
    text-align: left;
    align-self: center;
}

.container9 .wrap .box span {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
}

.container9 .wrap .box h1 {
    font-size: 5em;
    line-height: .9;
    color: #b8dfee;
    padding-bottom: 10px;
}

.container9 .wrap .box p {
    font-size: 15px;
    line-height: 1.2;
    color: #fcfcfd;
}

.container9 .wrap .box .botones {
    display: flex;
    margin-top: 30px;
    flex-flow: row wrap;
}

.container9 .wrap .box .botones .btn1 {
    flex-basis: 30%;
    border: solid 2px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: #fcfcfd;
}

.container9 .wrap .box .botones .btn2 {
    flex-basis: 30%;
    background-color: #fcfcfd;
    border: solid 2px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: black;      
}