:root {
--variable-color: #3b668f;
--variable-color2: #63aecc;
--variable-color3: white;
--variable-color4: black;
--variable-color5: #5d9eb8;
}

$color: rgb(68, 129, 145);
$color2: rgb(65, 101, 112);
$colorw: white;

a {
    text-decoration: none;
}

.titulo {
    color: $color2;
    font-size: clamp(2rem, 5vw, 4rem);
}
.container  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding:40px 20px;
    justify-content: center;
}
.container3  {
    max-width: 1440px;
    padding: 0 20px;
}

.container4  {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: 10px;
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px 10px;
    justify-content: center;
}

.section{
    margin: 5rem 5rem;
}

.section h2{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}

.wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-brand{
    width: 80px;
    padding: 1rem 1rem;
    filter: grayscale(20%);
}

.titulo1 {
    color: var(--variable-color1, rgb(45, 118, 136));
    font-family: "Anton", sans-serif;
    font-weight: 10;
    font-size: clamp(2.2rem, 5vw, 4rem);
}

h1 {
    @extend .titulo1;
    text-shadow: 2px 2px 4px rgba(167, 63, 63, 0.2);
}

h2 {
    @extend .titulo1;
    color: var(--variable-color1, rgb(45, 118, 136));
    text-shadow: 2px 2px 4px rgba(167, 63, 63, 0.2);
    margin: 40px 0;  

}

h5 {
    @extend .titulo1;
}

p {
    color: rgb(253, 255, 255);
    font-family: "Anton", sans-serif;
    font-weight: 500;
}

main {
    margin-top: 120px;
    width: 100%;
}

.container .py-4 {
    justify-content: center;
    
}
